 .globo{
      border-radius: var(--borde);
      padding: var(--borde);
      --borde: 8px;
      font-family: sans-serif;
      z-index: 1; 
      background-color: white;
      filter: drop-shadow(0px 0px 1px black) ;
    }
    .globo::before{
      content: '';
      position: absolute; 
      z-index: -1;
      width: var(--colita);
      height: var(--colita);
    }
    .globo.izquierda-arriba::before{
      --colita: 20px;
      top: 0;
      left: calc( var(--colita) / -1.5);
      transform: rotateZ(-60deg);
      border-radius: 10em 0 0 0;
      color: white;
      box-shadow: 
      inset calc(var(--colita)/3) calc(var(--colita)/-4) 0 0;
    }
    @keyframes cambio-color{
      45%,55% { 
        background-color: rgba(255,255,255,0); 
        color: white;
      }
    }


    .celda{
      border-radius: var(--borde);
      padding: var(--borde);
      --borde: 8px;
      font-family: sans-serif;
      z-index: 1; 
      background-color: white;
      filter: drop-shadow(0px 0px 1px black) ;
    }
    .celda::before{
      content: '';
      position: absolute; 
      z-index: -1;
    }